USE [master]
GO
/****** Object:  Database [PetCare]    Script Date: 12/27/2025 9:03:20 PM ******/
CREATE DATABASE [PetCare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetCare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PetCare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetCare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PetCare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetCare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetCare]
GO
/****** Object:  Table [dbo].[Administratori]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administratori](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[UtilizatorID] [int] NULL,
	[ClinicaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animale]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animale](
	[AnimalID] [int] IDENTITY(1,1) NOT NULL,
	[ProprietarID] [int] NULL,
	[SpecieID] [int] NULL,
	[Nume] [varchar](50) NOT NULL,
	[DataNasterii] [date] NULL,
	[Microcip] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AnimalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clinici]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinici](
	[ClinicaID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](100) NOT NULL,
	[Adresa] [varchar](200) NOT NULL,
	[Telefon] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClinicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetaliiFisa_Materiale]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetaliiFisa_Materiale](
	[DetaliuID] [int] IDENTITY(1,1) NOT NULL,
	[FisaID] [int] NULL,
	[StocID] [int] NULL,
	[CantitateConsumata] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetaliuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetaliiFisa_Servicii]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetaliiFisa_Servicii](
	[DetaliuID] [int] IDENTITY(1,1) NOT NULL,
	[FisaID] [int] NULL,
	[ServiciuID] [int] NULL,
	[PretAplicat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetaliuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiseMedicale]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiseMedicale](
	[FisaID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramareID] [int] NULL,
	[Diagnostic] [varchar](max) NULL,
	[Tratament] [varchar](max) NULL,
	[DataCrearii] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FisaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProgramareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medici]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medici](
	[MedicID] [int] IDENTITY(1,1) NOT NULL,
	[UtilizatorID] [int] NULL,
	[ClinicaID] [int] NULL,
	[NrParafa] [varchar](50) NULL,
	[Bio] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediciClinici]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediciClinici](
	[MedicID] [int] NOT NULL,
	[ClinicaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicID] ASC,
	[ClinicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrarMedici]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrarMedici](
	[OrarID] [int] IDENTITY(1,1) NOT NULL,
	[MedicID] [int] NULL,
	[ZiSaptamana] [int] NULL,
	[OraInceput] [time](7) NOT NULL,
	[OraSfarsit] [time](7) NOT NULL,
	[ClinicaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programari]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programari](
	[ProgramareID] [int] IDENTITY(1,1) NOT NULL,
	[ClinicaID] [int] NULL,
	[MedicID] [int] NULL,
	[AnimalID] [int] NULL,
	[DataOra] [datetime] NOT NULL,
	[Motiv] [varchar](200) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramariServicii]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramariServicii](
	[ProgramareID] [int] NOT NULL,
	[ServiciuID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramareID] ASC,
	[ServiciuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proprietari]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proprietari](
	[ProprietarID] [int] IDENTITY(1,1) NOT NULL,
	[UtilizatorID] [int] NULL,
	[AdresaDomiciliu] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProprietarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicii]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicii](
	[ServiciuID] [int] IDENTITY(1,1) NOT NULL,
	[ClinicaID] [int] NULL,
	[Denumire] [varchar](100) NOT NULL,
	[PretStandard] [decimal](10, 2) NOT NULL,
	[DurataEstimataMinute] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiciuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecializariMedici]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecializariMedici](
	[MedicID] [int] NOT NULL,
	[SpecieID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicID] ASC,
	[SpecieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specii]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specii](
	[SpecieID] [int] IDENTITY(1,1) NOT NULL,
	[Denumire] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocuri]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocuri](
	[StocID] [int] IDENTITY(1,1) NOT NULL,
	[ClinicaID] [int] NULL,
	[DenumireProdus] [varchar](100) NOT NULL,
	[UnitateMasura] [varchar](20) NOT NULL,
	[CantitateDisponibila] [decimal](10, 2) NULL,
	[PretUnitar] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[StocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizatori]    Script Date: 12/27/2025 9:03:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizatori](
	[UtilizatorID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](50) NOT NULL,
	[Prenume] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[ParolaHash] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NULL,
	[Telefon] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UtilizatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Animale_Microcip]    Script Date: 12/27/2025 9:03:20 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Animale_Microcip] ON [dbo].[Animale]
(
	[Microcip] ASC
)
WHERE ([Microcip] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FiseMedicale] ADD  DEFAULT (getdate()) FOR [DataCrearii]
GO
ALTER TABLE [dbo].[Programari] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Servicii] ADD  DEFAULT ((30)) FOR [DurataEstimataMinute]
GO
ALTER TABLE [dbo].[Stocuri] ADD  DEFAULT ((0)) FOR [CantitateDisponibila]
GO
ALTER TABLE [dbo].[Administratori]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[Administratori]  WITH CHECK ADD FOREIGN KEY([UtilizatorID])
REFERENCES [dbo].[Utilizatori] ([UtilizatorID])
GO
ALTER TABLE [dbo].[Animale]  WITH CHECK ADD FOREIGN KEY([ProprietarID])
REFERENCES [dbo].[Proprietari] ([ProprietarID])
GO
ALTER TABLE [dbo].[Animale]  WITH CHECK ADD FOREIGN KEY([SpecieID])
REFERENCES [dbo].[Specii] ([SpecieID])
GO
ALTER TABLE [dbo].[DetaliiFisa_Materiale]  WITH CHECK ADD FOREIGN KEY([FisaID])
REFERENCES [dbo].[FiseMedicale] ([FisaID])
GO
ALTER TABLE [dbo].[DetaliiFisa_Materiale]  WITH CHECK ADD FOREIGN KEY([StocID])
REFERENCES [dbo].[Stocuri] ([StocID])
GO
ALTER TABLE [dbo].[DetaliiFisa_Servicii]  WITH CHECK ADD FOREIGN KEY([FisaID])
REFERENCES [dbo].[FiseMedicale] ([FisaID])
GO
ALTER TABLE [dbo].[DetaliiFisa_Servicii]  WITH CHECK ADD FOREIGN KEY([ServiciuID])
REFERENCES [dbo].[Servicii] ([ServiciuID])
GO
ALTER TABLE [dbo].[FiseMedicale]  WITH CHECK ADD FOREIGN KEY([ProgramareID])
REFERENCES [dbo].[Programari] ([ProgramareID])
GO
ALTER TABLE [dbo].[Medici]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[Medici]  WITH CHECK ADD FOREIGN KEY([UtilizatorID])
REFERENCES [dbo].[Utilizatori] ([UtilizatorID])
GO
ALTER TABLE [dbo].[MediciClinici]  WITH CHECK ADD  CONSTRAINT [FK_MediciClinici_Clinici] FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[MediciClinici] CHECK CONSTRAINT [FK_MediciClinici_Clinici]
GO
ALTER TABLE [dbo].[MediciClinici]  WITH CHECK ADD  CONSTRAINT [FK_MediciClinici_Medici] FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medici] ([MedicID])
GO
ALTER TABLE [dbo].[MediciClinici] CHECK CONSTRAINT [FK_MediciClinici_Medici]
GO
ALTER TABLE [dbo].[OrarMedici]  WITH CHECK ADD FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medici] ([MedicID])
GO
ALTER TABLE [dbo].[OrarMedici]  WITH CHECK ADD  CONSTRAINT [FK_OrarMedici_Clinici] FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[OrarMedici] CHECK CONSTRAINT [FK_OrarMedici_Clinici]
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animale] ([AnimalID])
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medici] ([MedicID])
GO
ALTER TABLE [dbo].[ProgramariServicii]  WITH CHECK ADD  CONSTRAINT [FK_ProgramariServicii_Programari] FOREIGN KEY([ProgramareID])
REFERENCES [dbo].[Programari] ([ProgramareID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramariServicii] CHECK CONSTRAINT [FK_ProgramariServicii_Programari]
GO
ALTER TABLE [dbo].[ProgramariServicii]  WITH CHECK ADD  CONSTRAINT [FK_ProgramariServicii_Servicii] FOREIGN KEY([ServiciuID])
REFERENCES [dbo].[Servicii] ([ServiciuID])
GO
ALTER TABLE [dbo].[ProgramariServicii] CHECK CONSTRAINT [FK_ProgramariServicii_Servicii]
GO
ALTER TABLE [dbo].[Proprietari]  WITH CHECK ADD FOREIGN KEY([UtilizatorID])
REFERENCES [dbo].[Utilizatori] ([UtilizatorID])
GO
ALTER TABLE [dbo].[Servicii]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[SpecializariMedici]  WITH CHECK ADD FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medici] ([MedicID])
GO
ALTER TABLE [dbo].[SpecializariMedici]  WITH CHECK ADD FOREIGN KEY([SpecieID])
REFERENCES [dbo].[Specii] ([SpecieID])
GO
ALTER TABLE [dbo].[Stocuri]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[OrarMedici]  WITH CHECK ADD CHECK  (([ZiSaptamana]>=(1) AND [ZiSaptamana]<=(7)))
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Utilizatori]  WITH CHECK ADD CHECK  (([Rol]='Owner' OR [Rol]='Medic' OR [Rol]='Admin'))
GO
USE [master]
GO
