USE [master]
GO
/****** Object:  Database [PetCare]    Script Date: 1/9/2026 10:19:32 AM ******/
CREATE DATABASE [PetCare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetCare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PetCare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetCare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PetCare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetCare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetCare]
GO
/****** Object:  Table [dbo].[Administratori]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administratori](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[UtilizatorID] [int] NULL,
	[ClinicaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animale]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animale](
	[AnimalID] [int] IDENTITY(1,1) NOT NULL,
	[ProprietarID] [int] NULL,
	[SpecieID] [int] NULL,
	[Nume] [varchar](50) NOT NULL,
	[DataNasterii] [date] NULL,
	[Microcip] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AnimalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clinici]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinici](
	[ClinicaID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](100) NOT NULL,
	[Adresa] [varchar](200) NOT NULL,
	[Telefon] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClinicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetaliiFisa_Materiale]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetaliiFisa_Materiale](
	[DetaliuID] [int] IDENTITY(1,1) NOT NULL,
	[FisaID] [int] NULL,
	[StocID] [int] NULL,
	[CantitateConsumata] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetaliuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetaliiFisa_Servicii]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetaliiFisa_Servicii](
	[DetaliuID] [int] IDENTITY(1,1) NOT NULL,
	[FisaID] [int] NULL,
	[ServiciuID] [int] NULL,
	[PretAplicat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetaliuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiseMedicale]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiseMedicale](
	[FisaID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramareID] [int] NULL,
	[Diagnostic] [varchar](max) NULL,
	[Tratament] [varchar](max) NULL,
	[DataCrearii] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FisaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medici]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medici](
	[MedicID] [int] IDENTITY(1,1) NOT NULL,
	[UtilizatorID] [int] NULL,
	[ClinicaID] [int] NULL,
	[NrParafa] [varchar](50) NULL,
	[Bio] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediciClinici]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediciClinici](
	[MedicID] [int] NOT NULL,
	[ClinicaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicID] ASC,
	[ClinicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesaje]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesaje](
	[MesajID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramareID] [int] NULL,
	[ExpeditorID] [int] NULL,
	[Continut] [varchar](max) NOT NULL,
	[DataOra] [datetime] NULL,
	[IsCitit] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MesajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrarMedici]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrarMedici](
	[OrarID] [int] IDENTITY(1,1) NOT NULL,
	[MedicID] [int] NULL,
	[ZiSaptamana] [int] NULL,
	[OraInceput] [time](7) NOT NULL,
	[OraSfarsit] [time](7) NOT NULL,
	[ClinicaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programari]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programari](
	[ProgramareID] [int] IDENTITY(1,1) NOT NULL,
	[ClinicaID] [int] NULL,
	[MedicID] [int] NULL,
	[AnimalID] [int] NULL,
	[DataOra] [datetime] NOT NULL,
	[Motiv] [varchar](200) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramariServicii]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramariServicii](
	[ProgramareID] [int] NOT NULL,
	[ServiciuID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramareID] ASC,
	[ServiciuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proprietari]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proprietari](
	[ProprietarID] [int] IDENTITY(1,1) NOT NULL,
	[UtilizatorID] [int] NULL,
	[AdresaDomiciliu] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProprietarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remindere]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remindere](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[AnimalID] [int] NOT NULL,
	[MedicID] [int] NOT NULL,
	[Mesaj] [varchar](500) NOT NULL,
	[DataLimita] [datetime] NOT NULL,
	[IsCitit] [bit] NULL,
	[DataCreare] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicii]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicii](
	[ServiciuID] [int] IDENTITY(1,1) NOT NULL,
	[ClinicaID] [int] NULL,
	[Denumire] [varchar](100) NOT NULL,
	[PretStandard] [decimal](10, 2) NOT NULL,
	[DurataEstimataMinute] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiciuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecializariMedici]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecializariMedici](
	[MedicID] [int] NOT NULL,
	[SpecieID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicID] ASC,
	[SpecieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specii]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specii](
	[SpecieID] [int] IDENTITY(1,1) NOT NULL,
	[Denumire] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocuri]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocuri](
	[StocID] [int] IDENTITY(1,1) NOT NULL,
	[ClinicaID] [int] NULL,
	[DenumireProdus] [varchar](100) NOT NULL,
	[UnitateMasura] [varchar](20) NOT NULL,
	[CantitateDisponibila] [decimal](10, 2) NULL,
	[PretUnitar] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[StocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizatori]    Script Date: 1/9/2026 10:19:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizatori](
	[UtilizatorID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](50) NOT NULL,
	[Prenume] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[ParolaHash] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NULL,
	[Telefon] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UtilizatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administratori] ON 

INSERT [dbo].[Administratori] ([AdminID], [UtilizatorID], [ClinicaID]) VALUES (1, 1, 1)
INSERT [dbo].[Administratori] ([AdminID], [UtilizatorID], [ClinicaID]) VALUES (2, 9, 3)
SET IDENTITY_INSERT [dbo].[Administratori] OFF
GO
SET IDENTITY_INSERT [dbo].[Animale] ON 

INSERT [dbo].[Animale] ([AnimalID], [ProprietarID], [SpecieID], [Nume], [DataNasterii], [Microcip]) VALUES (1, 1, 1, N'Azorel', CAST(N'2020-05-20' AS Date), NULL)
INSERT [dbo].[Animale] ([AnimalID], [ProprietarID], [SpecieID], [Nume], [DataNasterii], [Microcip]) VALUES (2, 2, 2, N'Miti', CAST(N'2021-08-15' AS Date), NULL)
INSERT [dbo].[Animale] ([AnimalID], [ProprietarID], [SpecieID], [Nume], [DataNasterii], [Microcip]) VALUES (3, 3, 1, N'Rocky', CAST(N'2024-12-27' AS Date), N'12345')
SET IDENTITY_INSERT [dbo].[Animale] OFF
GO
SET IDENTITY_INSERT [dbo].[Clinici] ON 

INSERT [dbo].[Clinici] ([ClinicaID], [Nume], [Adresa], [Telefon]) VALUES (1, N'Clinica Vet Life', N'Str. Victoriei nr. 10, Bucuresti', N'0722111222')
INSERT [dbo].[Clinici] ([ClinicaID], [Nume], [Adresa], [Telefon]) VALUES (2, N'Happy Pet Iasi', N'Bd. Copou nr. 5, Iasi', N'0744333444')
INSERT [dbo].[Clinici] ([ClinicaID], [Nume], [Adresa], [Telefon]) VALUES (3, N'Pet Life', N'bd. Decebal, nr. 123', N'0712345345')
SET IDENTITY_INSERT [dbo].[Clinici] OFF
GO
SET IDENTITY_INSERT [dbo].[DetaliiFisa_Materiale] ON 

INSERT [dbo].[DetaliiFisa_Materiale] ([DetaliuID], [FisaID], [StocID], [CantitateConsumata]) VALUES (1, 1, 6, CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[DetaliiFisa_Materiale] ([DetaliuID], [FisaID], [StocID], [CantitateConsumata]) VALUES (2, 5, 4, CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[DetaliiFisa_Materiale] ([DetaliuID], [FisaID], [StocID], [CantitateConsumata]) VALUES (3, 5, 5, CAST(1.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetaliiFisa_Materiale] OFF
GO
SET IDENTITY_INSERT [dbo].[DetaliiFisa_Servicii] ON 

INSERT [dbo].[DetaliiFisa_Servicii] ([DetaliuID], [FisaID], [ServiciuID], [PretAplicat]) VALUES (1, 1, 4, CAST(50.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetaliiFisa_Servicii] OFF
GO
SET IDENTITY_INSERT [dbo].[FiseMedicale] ON 

INSERT [dbo].[FiseMedicale] ([FisaID], [ProgramareID], [Diagnostic], [Tratament], [DataCrearii]) VALUES (1, 3, N'parvoviroza', N'2 x pastila deparazitare / zi timp de 14 zile', CAST(N'2026-01-04T16:41:40.283' AS DateTime))
INSERT [dbo].[FiseMedicale] ([FisaID], [ProgramareID], [Diagnostic], [Tratament], [DataCrearii]) VALUES (5, 2, N'N/A', N'efectuare primul vaccin', CAST(N'2026-01-04T21:53:09.293' AS DateTime))
SET IDENTITY_INSERT [dbo].[FiseMedicale] OFF
GO
SET IDENTITY_INSERT [dbo].[Medici] ON 

INSERT [dbo].[Medici] ([MedicID], [UtilizatorID], [ClinicaID], [NrParafa], [Bio]) VALUES (1, 2, 1, N'RO-12345', N'Specialist Dermatologie')
INSERT [dbo].[Medici] ([MedicID], [UtilizatorID], [ClinicaID], [NrParafa], [Bio]) VALUES (2, 3, 2, N'RO-67890', N'Specialist Chirurgie')
INSERT [dbo].[Medici] ([MedicID], [UtilizatorID], [ClinicaID], [NrParafa], [Bio]) VALUES (3, 8, 1, N'1234567', NULL)
SET IDENTITY_INSERT [dbo].[Medici] OFF
GO
INSERT [dbo].[MediciClinici] ([MedicID], [ClinicaID]) VALUES (1, 1)
INSERT [dbo].[MediciClinici] ([MedicID], [ClinicaID]) VALUES (2, 2)
INSERT [dbo].[MediciClinici] ([MedicID], [ClinicaID]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Mesaje] ON 

INSERT [dbo].[Mesaje] ([MesajID], [ProgramareID], [ExpeditorID], [Continut], [DataOra], [IsCitit]) VALUES (1, 3, 7, N'Buna ziua! Pot administra doar o pastila pe zi? Pisica mea incepe sa se simta mai bine.', CAST(N'2026-01-04T17:13:33.860' AS DateTime), 1)
INSERT [dbo].[Mesaje] ([MesajID], [ProgramareID], [ExpeditorID], [Continut], [DataOra], [IsCitit]) VALUES (2, 3, 8, N'este recomandat sa respectati recomandarile initiale', CAST(N'2026-01-04T17:14:39.100' AS DateTime), 1)
INSERT [dbo].[Mesaje] ([MesajID], [ProgramareID], [ExpeditorID], [Continut], [DataOra], [IsCitit]) VALUES (3, 3, 7, N'multumesc', CAST(N'2026-01-05T13:12:36.943' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Mesaje] OFF
GO
SET IDENTITY_INSERT [dbo].[OrarMedici] ON 

INSERT [dbo].[OrarMedici] ([OrarID], [MedicID], [ZiSaptamana], [OraInceput], [OraSfarsit], [ClinicaID]) VALUES (6, 3, 1, CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), 1)
INSERT [dbo].[OrarMedici] ([OrarID], [MedicID], [ZiSaptamana], [OraInceput], [OraSfarsit], [ClinicaID]) VALUES (7, 3, 2, CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), 1)
INSERT [dbo].[OrarMedici] ([OrarID], [MedicID], [ZiSaptamana], [OraInceput], [OraSfarsit], [ClinicaID]) VALUES (15, 3, 3, CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), 3)
SET IDENTITY_INSERT [dbo].[OrarMedici] OFF
GO
SET IDENTITY_INSERT [dbo].[Programari] ON 

INSERT [dbo].[Programari] ([ProgramareID], [ClinicaID], [MedicID], [AnimalID], [DataOra], [Motiv], [Status]) VALUES (1, 1, 1, 1, CAST(N'2025-12-19T13:10:58.447' AS DateTime), N'Control anual si vaccin', N'Confirmed')
INSERT [dbo].[Programari] ([ProgramareID], [ClinicaID], [MedicID], [AnimalID], [DataOra], [Motiv], [Status]) VALUES (2, 3, 3, 3, CAST(N'2025-12-31T08:30:00.000' AS DateTime), N'', N'Completed')
INSERT [dbo].[Programari] ([ProgramareID], [ClinicaID], [MedicID], [AnimalID], [DataOra], [Motiv], [Status]) VALUES (3, 3, 3, 4, CAST(N'2025-12-31T08:00:00.000' AS DateTime), N'', N'Completed')
SET IDENTITY_INSERT [dbo].[Programari] OFF
GO
INSERT [dbo].[ProgramariServicii] ([ProgramareID], [ServiciuID]) VALUES (2, 4)
INSERT [dbo].[ProgramariServicii] ([ProgramareID], [ServiciuID]) VALUES (2, 5)
INSERT [dbo].[ProgramariServicii] ([ProgramareID], [ServiciuID]) VALUES (3, 4)
GO
SET IDENTITY_INSERT [dbo].[Proprietari] ON 

INSERT [dbo].[Proprietari] ([ProprietarID], [UtilizatorID], [AdresaDomiciliu]) VALUES (1, 4, N'Str. Libertatii 1, Bucuresti')
INSERT [dbo].[Proprietari] ([ProprietarID], [UtilizatorID], [AdresaDomiciliu]) VALUES (2, 5, N'Str. Florilor 2, Iasi')
INSERT [dbo].[Proprietari] ([ProprietarID], [UtilizatorID], [AdresaDomiciliu]) VALUES (3, 7, N'bd. Decebal, nr. 123')
SET IDENTITY_INSERT [dbo].[Proprietari] OFF
GO
SET IDENTITY_INSERT [dbo].[Remindere] ON 

INSERT [dbo].[Remindere] ([ReminderID], [AnimalID], [MedicID], [Mesaj], [DataLimita], [IsCitit], [DataCreare]) VALUES (1, 3, 3, N'efectuare al doilea vaccin', CAST(N'2026-02-05T00:00:00.000' AS DateTime), 0, CAST(N'2026-01-04T21:53:09.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[Remindere] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicii] ON 

INSERT [dbo].[Servicii] ([ServiciuID], [ClinicaID], [Denumire], [PretStandard], [DurataEstimataMinute]) VALUES (1, 1, N'Consultatie Generala', CAST(100.00 AS Decimal(10, 2)), 30)
INSERT [dbo].[Servicii] ([ServiciuID], [ClinicaID], [Denumire], [PretStandard], [DurataEstimataMinute]) VALUES (2, 1, N'Vaccinare Antirabica', CAST(50.00 AS Decimal(10, 2)), 30)
INSERT [dbo].[Servicii] ([ServiciuID], [ClinicaID], [Denumire], [PretStandard], [DurataEstimataMinute]) VALUES (3, 1, N'Deparazitare Interna', CAST(30.00 AS Decimal(10, 2)), 30)
SET IDENTITY_INSERT [dbo].[Servicii] OFF
GO
INSERT [dbo].[SpecializariMedici] ([MedicID], [SpecieID]) VALUES (1, 1)
INSERT [dbo].[SpecializariMedici] ([MedicID], [SpecieID]) VALUES (1, 2)
INSERT [dbo].[SpecializariMedici] ([MedicID], [SpecieID]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Specii] ON 

INSERT [dbo].[Specii] ([SpecieID], [Denumire]) VALUES (1, N'Caine')
INSERT [dbo].[Specii] ([SpecieID], [Denumire]) VALUES (2, N'Pisica')
INSERT [dbo].[Specii] ([SpecieID], [Denumire]) VALUES (3, N'Hamster')
SET IDENTITY_INSERT [dbo].[Specii] OFF
GO
SET IDENTITY_INSERT [dbo].[Stocuri] ON 

INSERT [dbo].[Stocuri] ([StocID], [ClinicaID], [DenumireProdus], [UnitateMasura], [CantitateDisponibila], [PretUnitar]) VALUES (1, 1, N'Vaccin Nobivac', N'doza', CAST(50.00 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)))
INSERT [dbo].[Stocuri] ([StocID], [ClinicaID], [DenumireProdus], [UnitateMasura], [CantitateDisponibila], [PretUnitar]) VALUES (2, 1, N'Seringa 2ml', N'buc', CAST(200.00 AS Decimal(10, 2)), CAST(0.50 AS Decimal(10, 2)))
INSERT [dbo].[Stocuri] ([StocID], [ClinicaID], [DenumireProdus], [UnitateMasura], [CantitateDisponibila], [PretUnitar]) VALUES (3, 1, N'Drontal Cat', N'tb', CAST(100.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Stocuri] OFF
GO
SET IDENTITY_INSERT [dbo].[Utilizatori] ON 

INSERT [dbo].[Utilizatori] ([UtilizatorID], [Nume], [Prenume], [Email], [ParolaHash], [Rol], [Telefon]) VALUES (1, N'Popescu', N'Ion', N'ion.popescu@email.com', N'hash123', N'Admin', N'0722000001')
INSERT [dbo].[Utilizatori] ([UtilizatorID], [Nume], [Prenume], [Email], [ParolaHash], [Rol], [Telefon]) VALUES (2, N'Ionescu', N'Maria', N'maria.vet@email.com', N'hash123', N'Medic', N'0722000002')
INSERT [dbo].[Utilizatori] ([UtilizatorID], [Nume], [Prenume], [Email], [ParolaHash], [Rol], [Telefon]) VALUES (3, N'Georgescu', N'Andrei', N'andrei.vet@email.com', N'hash123', N'Medic', N'0722000003')
SET IDENTITY_INSERT [dbo].[Utilizatori] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Animale_Microcip]    Script Date: 1/9/2026 10:19:33 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Animale_Microcip] ON [dbo].[Animale]
(
	[Microcip] ASC
)
WHERE ([Microcip] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__FiseMedi__E1DFB11DC08DAA87]    Script Date: 1/9/2026 10:19:33 AM ******/
ALTER TABLE [dbo].[FiseMedicale] ADD UNIQUE NONCLUSTERED 
(
	[ProgramareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Utilizat__A9D105341B2AD941]    Script Date: 1/9/2026 10:19:33 AM ******/
ALTER TABLE [dbo].[Utilizatori] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FiseMedicale] ADD  DEFAULT (getdate()) FOR [DataCrearii]
GO
ALTER TABLE [dbo].[Mesaje] ADD  DEFAULT (getdate()) FOR [DataOra]
GO
ALTER TABLE [dbo].[Mesaje] ADD  DEFAULT ((0)) FOR [IsCitit]
GO
ALTER TABLE [dbo].[Programari] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Remindere] ADD  DEFAULT ((0)) FOR [IsCitit]
GO
ALTER TABLE [dbo].[Remindere] ADD  DEFAULT (getdate()) FOR [DataCreare]
GO
ALTER TABLE [dbo].[Servicii] ADD  DEFAULT ((30)) FOR [DurataEstimataMinute]
GO
ALTER TABLE [dbo].[Stocuri] ADD  DEFAULT ((0)) FOR [CantitateDisponibila]
GO
ALTER TABLE [dbo].[Administratori]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[Administratori]  WITH CHECK ADD FOREIGN KEY([UtilizatorID])
REFERENCES [dbo].[Utilizatori] ([UtilizatorID])
GO
ALTER TABLE [dbo].[Animale]  WITH CHECK ADD FOREIGN KEY([ProprietarID])
REFERENCES [dbo].[Proprietari] ([ProprietarID])
GO
ALTER TABLE [dbo].[Animale]  WITH CHECK ADD FOREIGN KEY([SpecieID])
REFERENCES [dbo].[Specii] ([SpecieID])
GO
ALTER TABLE [dbo].[DetaliiFisa_Materiale]  WITH CHECK ADD FOREIGN KEY([FisaID])
REFERENCES [dbo].[FiseMedicale] ([FisaID])
GO
ALTER TABLE [dbo].[DetaliiFisa_Materiale]  WITH CHECK ADD FOREIGN KEY([StocID])
REFERENCES [dbo].[Stocuri] ([StocID])
GO
ALTER TABLE [dbo].[DetaliiFisa_Servicii]  WITH CHECK ADD FOREIGN KEY([FisaID])
REFERENCES [dbo].[FiseMedicale] ([FisaID])
GO
ALTER TABLE [dbo].[DetaliiFisa_Servicii]  WITH CHECK ADD FOREIGN KEY([ServiciuID])
REFERENCES [dbo].[Servicii] ([ServiciuID])
GO
ALTER TABLE [dbo].[FiseMedicale]  WITH CHECK ADD FOREIGN KEY([ProgramareID])
REFERENCES [dbo].[Programari] ([ProgramareID])
GO
ALTER TABLE [dbo].[Medici]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[Medici]  WITH CHECK ADD FOREIGN KEY([UtilizatorID])
REFERENCES [dbo].[Utilizatori] ([UtilizatorID])
GO
ALTER TABLE [dbo].[MediciClinici]  WITH CHECK ADD  CONSTRAINT [FK_MediciClinici_Clinici] FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[MediciClinici] CHECK CONSTRAINT [FK_MediciClinici_Clinici]
GO
ALTER TABLE [dbo].[MediciClinici]  WITH CHECK ADD  CONSTRAINT [FK_MediciClinici_Medici] FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medici] ([MedicID])
GO
ALTER TABLE [dbo].[MediciClinici] CHECK CONSTRAINT [FK_MediciClinici_Medici]
GO
ALTER TABLE [dbo].[Mesaje]  WITH CHECK ADD FOREIGN KEY([ExpeditorID])
REFERENCES [dbo].[Utilizatori] ([UtilizatorID])
GO
ALTER TABLE [dbo].[Mesaje]  WITH CHECK ADD FOREIGN KEY([ProgramareID])
REFERENCES [dbo].[Programari] ([ProgramareID])
GO
ALTER TABLE [dbo].[OrarMedici]  WITH CHECK ADD FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medici] ([MedicID])
GO
ALTER TABLE [dbo].[OrarMedici]  WITH CHECK ADD  CONSTRAINT [FK_OrarMedici_Clinici] FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[OrarMedici] CHECK CONSTRAINT [FK_OrarMedici_Clinici]
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animale] ([AnimalID])
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medici] ([MedicID])
GO
ALTER TABLE [dbo].[ProgramariServicii]  WITH CHECK ADD  CONSTRAINT [FK_ProgramariServicii_Programari] FOREIGN KEY([ProgramareID])
REFERENCES [dbo].[Programari] ([ProgramareID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramariServicii] CHECK CONSTRAINT [FK_ProgramariServicii_Programari]
GO
ALTER TABLE [dbo].[ProgramariServicii]  WITH CHECK ADD  CONSTRAINT [FK_ProgramariServicii_Servicii] FOREIGN KEY([ServiciuID])
REFERENCES [dbo].[Servicii] ([ServiciuID])
GO
ALTER TABLE [dbo].[ProgramariServicii] CHECK CONSTRAINT [FK_ProgramariServicii_Servicii]
GO
ALTER TABLE [dbo].[Proprietari]  WITH CHECK ADD FOREIGN KEY([UtilizatorID])
REFERENCES [dbo].[Utilizatori] ([UtilizatorID])
GO
ALTER TABLE [dbo].[Remindere]  WITH CHECK ADD  CONSTRAINT [FK_Remindere_Animale] FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animale] ([AnimalID])
GO
ALTER TABLE [dbo].[Remindere] CHECK CONSTRAINT [FK_Remindere_Animale]
GO
ALTER TABLE [dbo].[Remindere]  WITH CHECK ADD  CONSTRAINT [FK_Remindere_Medici] FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medici] ([MedicID])
GO
ALTER TABLE [dbo].[Remindere] CHECK CONSTRAINT [FK_Remindere_Medici]
GO
ALTER TABLE [dbo].[Servicii]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[SpecializariMedici]  WITH CHECK ADD FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medici] ([MedicID])
GO
ALTER TABLE [dbo].[SpecializariMedici]  WITH CHECK ADD FOREIGN KEY([SpecieID])
REFERENCES [dbo].[Specii] ([SpecieID])
GO
ALTER TABLE [dbo].[Stocuri]  WITH CHECK ADD FOREIGN KEY([ClinicaID])
REFERENCES [dbo].[Clinici] ([ClinicaID])
GO
ALTER TABLE [dbo].[OrarMedici]  WITH CHECK ADD CHECK  (([ZiSaptamana]>=(1) AND [ZiSaptamana]<=(7)))
GO
ALTER TABLE [dbo].[Programari]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Utilizatori]  WITH CHECK ADD CHECK  (([Rol]='Owner' OR [Rol]='Medic' OR [Rol]='Admin'))
GO
USE [master]
GO
